#nav-bar {
  position: fixed;
  background-color: #00a087;
  width: 100%;
  color: #e8fdff;
  padding: 0em 2em 0em 2em;
  margin-top: 0px;
  z-index: 50;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  padding-right: 10px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  padding-top: 18px;
}

#nav-bar .compose {
  float: right;
  margin: 20px 5px 10px 5px;
  background: white;
  opacity: 0.7;
  border: solid;
  padding: 20px 40px 20px 20px;
  border-radius: 10px;
  font-size: 20px;
}

#nav-bar .compose:hover {
  float: right;
  margin: 20px 5px 10px 5px;
  background: grey;
  opacity: 0.7;
  border: solid;
  padding: 20px 40px 20px 20px;
  border-radius: 10px;
  font-size: 20px;
}
